:root {
    --primary-color: rgb(41, 3, 41);
    --secondary-color: whitesmoke;
}

.App {
    background: var(--secondary-color);
    height: 100vh;
}

.darkmode {
    background: var(--primary-color);
    height: 100vh;
    color: white;
}

.whitemode {
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
}

.d-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
}

.list-flex {
    flex-direction: row;
    list-style: none;
    margin-top: 20px;
    font-size: 11px;
}

.list-flex li {
    margin-right: 10px;
    cursor: pointer;
}

.list-flex .special {
    margin-right: 3rem;
    cursor: auto;
}

.list-flex .special-2 {
    margin-left: 2rem;
}

.checked {
    height: 30px;
    cursor: pointer;
    width: 30px;
    color: white;
    background-color: white;
    clip-path: circle();
    margin-right: 14px;
}

.check {
    height: 30px;
    width: 30px;
    margin-right: 14px;
    color: transparent;
    cursor: pointer;
    background-color: rgb(219, 203, 203);
    border: solid 1px white;
    clip-path: circle();
}

.todos {
    background-color: rgb(49, 6, 88);
    margin-top: 30px;
    color: white;
    padding: 14px;
    border-radius: 7px;
    border: solid 1px gray;
    width: 24rem;
    max-height: 24rem;
    overflow-y: scroll;
}

.stroke {
    opacity: 0.7;
}

form > input {
    margin-top: 30px;
    width: 18rem;
    margin-right: 12px;
    color: white;
    border: solid 1px gray;
    background: rgb(30, 3, 54);
    padding: 8px;
    border-radius: 10px;
}

#btn {
    margin-top: 30px;
    background-color: rgb(49, 4, 88);
    color: white;
    border-radius: 8px;
    border: solid 1px gray;
    padding: 7px;
    font-size: 12px;
}